<div class="pricing-plan">
    <link href="/components/pricing-plan/pricing-plan.css" rel="stylesheet">
    <div>首波早鳥方案</div>
    <div>相關功能還在開發中，前 300名 註冊即享終身免費升級進階方案</div>
    <div>尚餘名額 {numberOfPromotedUser} 位</div>
    <a href="/sign-up/send-verify-email/">立即註冊></a>
</div>
<div>
    <h2>免費方案</h2>
    <div>裝置數</div>
    <ul>
        <li>5 個裝置</li>
    </ul>
    <div>用量</div>
    <ul>
        <li>1個裝置可發送 30 秒/次 的請求</li>
        <li>1天可使用 50 M 的流量</li>
    </ul>
</div>
<div>
    <h2>進階方案</h2>
    <div>裝置數</div>
    <ul>
        <li>20 個裝置</li>
    </ul>
    <div>用量</div>
    <ul>
        <li>1個裝置可發送 3 秒/次 的請求</li>
        <li>1天可使用 1 G 的流量</li>
    </ul>
</div>
<div>
    <h2>專業方案</h2>
    <div>裝置數</div>
    <ul>
        <li>不限制</li>
    </ul>
    <div>用量</div>
    <ul>
        <li>1個裝置可發送 1 秒/次 的請求</li>
        <li>1天可使用 10 G 的流量</li>
    </ul>
</div>
<div>
    <h2>企業方案</h2>
    <div>
        <a href="/contact-us/">聯絡我們</a>
    </div>
</div>
</div>
