footer {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .copy-right,
    .cs {
        padding: 0 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
