@import 'overwrite.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'zindex.scss';

/* Common */
body,
html {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang TC',
        'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.8rem;
    @include media-breakpoint-down(lg) {
        font-size: $font-size-base-for-small-screen;
    }
}

.text-sm {
    @include media-breakpoint-down(lg) {
        font-size: $small-font-size-for-small-screen;
    }
}

h1,
.h1 {
    font-size: $h1-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h1-font-size;
    }
}

h2,
.h2 {
    font-size: $h2-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: $h3-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h3-font-size;
    }
}

h4,
.h4 {
    font-size: $h4-font-size-for-small-screen;
    line-height: 1.8rem;
    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size;
        line-height: 1.8rem;
    }
}

.text-blue {
    color: $blue;
}

.text-dark-blue {
    color: $dark-blue;
}

.text-light-blue {
    color: $light-blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-blue2green {
    background: $bg-blue2green;
}

.bg-blue {
    background-color: $blue;
}

.bg-darkest-blue {
    background: $darkest-blue;
}

.bg-black-opacity25 {
    background: $black-opacity25;
}

.bg-deep-dark-blue {
    background-color: $deep-dark-blue;
}

.nav-link,
.link {
    &:focus-visible {
        outline: none;
    }
}

.nav-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover,
    &:active,
    &:focus {
        color: $primary;
        border-bottom: 1px solid $primary;
    }
}

.opacity-65 {
    opacity: 0.65;
}

.form-control {
    background: rgba(0, 0, 0, 0.25);
    padding: 1rem 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.85);

    &::placeholder {
        color: rgba(255, 255, 255, 0.45);
    }

    &:focus {
        color: rgba(255, 255, 255, 0.85);
        background-color: transparent;
        border-color: #30a7df;
        box-shadow: none;
    }
}

.hover-bule {
    &:hover {
        background-color: #e9faff !important;
        color: $blue;
    }
}
/* purgecss start ignore */
/* Toaster */
.toaster {
    position: fixed;
    top: 20px;
    right: 100px;
    z-index: 10000;
    padding-bottom: 20px;
    @media only screen and (max-width: 992) {
        top: auto;
        bottom: 20px;
    }
}

.toaster-item {
    display: block;
    opacity: 1;
    background: #2c2c2c;
    color: white !important;
    width: 300px;
    padding: 15px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    margin-top: 10px;
    position: relative;
    padding-left: 36px;
    padding-top: 35px;
    border: 1px solid #2c2c2c;
}

.toaster-item.show {
    opacity: 0.8;
}

.toaster-item.show:hover {
    opacity: 1;
}

.toaster-item::before {
    display: block;
    height: calc(100% - 30px);
    position: absolute;
    left: 23px;
    padding-left: 10px;
    top: 15px;
}

.toaster-item.error::before {
    content: '錯誤';
    border-left: 3px solid #fa5c2d;
    color: #fa5c2d;
}

.toaster-item.warn::before {
    content: '警告';
    border-left: 3px solid #fac32d;
    color: #fac32d;
}

.toaster-item.info::before {
    content: '訊息';
    border-left: 3px solid #2daffa;
    color: #2daffa;
}

a.toaster-item::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0c1';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
/* purgecss end ignore */
