@import 'overwrite.scss';
@import 'bootstrap/scss/_mixins.scss';

.sign-in {
    .bg-deep-dark-blue {
        z-index: -1;
    }

    .bg-dark-blue {
        z-index: -1;
    }

    .logo {
        height: 50px;
    }

    @include media-breakpoint-down(lg) {
        .logo {
            height: 25px;
        }
    }

    @include media-breakpoint-down(md) {
        background-color: $dark-blue;
        min-height: 100vh;
        .container {
            max-width: 100% !important;
        }
    }
}
