@import 'overwrite.scss';

.card {
    padding: 2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    margin: 0 2.5rem 3.5rem;

    @include media-breakpoint-down(md) {
        padding: 1rem;
        margin: 0 1rem 2rem;
    }
}
