.trigger {
    width: 720px;

    @include media-breakpoint-down(lg) {
        width: 100%;
    }

    .title {
        cursor: pointer;
    }

    .text-error {
        font-size: $font-size-base-for-small-screen
    }
}
