$icon-wh: 16px;
$pin-wh: 48px;
$pin-option-w: 88px;
$pin-option-h: 120px;

.device-pin-data {
    .icon-warm {
        width: $icon-wh;
        height: $icon-wh;
        line-height: $icon-wh;
        text-align: center;
    }
    .pin {
        width: $pin-wh;
    }
    .pin-selector {
        position: absolute;
        top: -1rem;
    }
    .pin-text {
        width: $pin-wh;
        height: $pin-wh;
        line-height: $pin-wh;
        text-align: center;
        background: rgba($black, 0.04);
        border: 1px solid rgba($black, 0.09);
        border-radius: 100%;
        &:hover {
            background: rgba($black, 0.09);
        }
    }
    .pin-option {
        position: absolute;
        height: 0;
        bottom: calc(0% - (-1rem - #{$pin-wh}));
        left: -25%;
        box-shadow: 0px 4px 12px rgba($black, 0.09);
        border-radius: 8px;
        z-index: $device-option-z-index;
        transition: 0.3s ease-in-out;
        overflow: hidden;
        background: $white;
        &.active {
            height: $pin-option-h;
            transition: 0.3s ease-in-out;
        }
        > div {
            width: $pin-option-w;
            &:hover {
                background: rgba(74, 197, 255, 0.09);
            }
        }
    }
}
