$pin-wh: 48px;
$pin-option-w: 104px;
$pin-option2-h: 80px;
$pin-option4-h: 160px;
$dialog-w: 300px;

.device-pin-data {
    .microcontroller-img {
        max-width: 500px;
    }
    .pin {
        &:hover {
            .pin-option-2 {
                height: $pin-option2-h;
            }
            .pin-option-4 {
                height: $pin-option4-h;
            }
        }
        &.selected {
            .pin-text {
                background: $success !important;
                color: $white;
            }
            .pin-selector {
                display: block;
            }
        }
    }
    .pin-selector {
        display: none;
        width: 100%;
        position: absolute;
        top: -1.5rem;
        left: 0;
        color: $success;
    }
    .pin-text {
        width: $pin-wh;
        height: $pin-wh;
        line-height: $pin-wh;
        &:hover {
            background: rgba($black, 0.09);
        }
    }
    .pin-option {
        position: absolute;
        height: 0;
        bottom: calc(0% + 1rem + #{$pin-wh});
        left: -15%;
        z-index: 1;
        transition: 0.3s ease-in-out;
        > div,
        button {
            width: $pin-option-w;
            &:hover {
                background: rgba($primary, 0.09);
            }
        }
    }
    .dialog {
        z-index: 2;
        .card {
            width: $dialog-w;
        }

        &::after {
            display: block;
            position: absolute;
            content: '';
            background: rgba(black, 0.5);
            width: 100vw;
            height: 100vh;
        }

        .close-button {
            right: 0;
        }
    }
}
