@import '../../css/variables.scss';

.page-title {
    @include media-breakpoint-down(xl) {
        background: #fff;
        box-shadow: $shadow;
    }
    @include media-breakpoint-down(md) {
        background: transparent;
        box-shadow: none;
    }
}
