@import '../../css/zindex.scss';

.toaster-container {
    width: 30vw;

    .toaster {
        z-index: $toaster-index;
        transition: min-height 0.2s linear, opacity 0.2s linear;
        min-height: 0;
        height: 0;
        opacity: 0;
        will-change: min-height, opacity;

        &.visible {
            min-height: 30px;
            height: auto;
            opacity: 1;
        }

        &.error {
            background: red;
        }
        &.warn {
            background: orange;
        }
        &.info {
            background: lightblue;
        }
    }
}
