<div class="container p-3 mx-auto">
    <h2 class="text-center py-3">服務條款</h2>
    <div class="mb-3">
        ItemHub 可隨時修訂本條款及現今或嗣後頒布施行之各種規則，並將修訂或變更的內容公佈在本網站上，至公佈之日起七日內會員無異議時，此條款將自動生效。
    </div>
    <div class="py-3">
        <h3 class="mb-3">
            一、 服務與訂閱方式
        </h3>
        <div>
            <ul>
                <li>本服務為智人股份有限公司(以下稱「本公司」) 提供的 ItemHub 服務(即 https://itemhub.io/ 以下簡稱為「ItemHub」或「本網站」)，加入會員後即可開始使用
                    ItemHub
                    所提供的服務。</li>
                <li>ItemHub 為訂閱制，付款即同意購買，「無」試用期及七天鑑賞期。</li>
                <li>消費者完成第一次付款後，視同授權綁定該信用卡，未來系統將持續以所訂購之週期進行扣款，直到消費者取消訂閱，「取消訂閱方式」請見下方說明。</li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <h3 class="mb-3">
            二、取消訂閱
        </h3>
        <div>
            <ul>
                <li>當消費者在後台設定、申請停止訂閱後，系統將於下個扣款週期時，自動停止扣款。</li>
                <li>如需取消訂閱或有相關問題，可來信至客服信箱 itemhub.tw@gmail.com 詢問。</li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <h3 class="mb-3">
            三、公司資訊
        </h3>
        <div>
            <ul>
                <li>公司名稱: 智人股份有限公司</li>
                <li>統一編號: 83209201</li>
                <li>客服信箱: itemhub.tw@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
