<div class="bg-dark-blue">
    <div class="checkout container">
        <link href="/css/checkout.css" rel="stylesheet">
        <div class="checkout-content mx-auto text-black-opacity-85">
            <h2 class="text-center py-4">
                訂閱 ItemHub
            </h2>
            <div class="rounded bg-white px-4 pt-45 pb-4 mb-4 checkout-form">
                <div class="d-flex align-items-center mb-4">
                    <h4 class="flex-shrink-0 text-black-opacity-85 pe-3 mb-0">訂閱方案</h4>
                    <div class="border-top border-black-opacity-15 flex-fill"></div>
                </div>
                <div swim-for="pricing in pricingPlans" class="pricing">
                    <label
                        class="d-block border border-black-opacity-25 rounded position-relative border-black-opacity-15 mb-3">
                        <input type="radio" name="pricing" value="{value}"
                            class="w-100 h-100 position-absolute top-0 invisible">
                        <div class="d-flex justify-content-between p-3 pricing-item">
                            <div class="">
                                <span class="d-none icon-check">✓</span>
                                {label}方案
                            </div>
                            <div>
                                NTD {price} /月
                            </div>
                        </div>
                        <div class="small pricing-detail">
                            <div class="p-3 ">
                                <div class="d-flex justify-content-between">
                                    <div class="text-blue fw-bold">
                                        { 裝置限制 }
                                    </div>
                                    <div>
                                        {deviceCount} 個裝置
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="text-blue fw-bold">
                                        { 送 Request 頻率 }
                                    </div>
                                    <div>
                                        {frequency} 秒 1 次
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <div class="text-blue fw-bold">
                                        { 資料儲存時間 }
                                    </div>
                                    <div>
                                        {storageTime}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="rounded bg-white px-4 py-45 mb-4">
                <div class="d-flex align-items-center mb-4">
                    <h4 class="flex-shrink-0 text-black-opacity-85 pe-3 mb-0">付款</h4>
                    <div class="border-top border-black-opacity-15 flex-fill"></div>
                </div>
                <div>
                    <div class="mb-2">信用卡卡號</div>
                    <div class="tpfield card-number"></div>
                    <div class="validation text-danger mt-2">

                    </div>
                </div>
                <div class="d-md-flex justify-content-between mt-4">
                    <label class="flex-fill w-100">
                        <div class="mb-2">後三碼</div>
                        <div class="">
                            <div class="tpfield ccv"></div>
                        </div>
                        <div class="validation text-danger mt-2">

                        </div>
                    </label>
                    <label class="flex-fill w-100 ms-0 ms-md-4 mt-4 mt-md-0">
                        <div class="mb-2">到期日</div>
                        <div class="d-flex align-items-center">
                            <div class="tpfield expiration"></div>
                        </div>
                        <div class="validation text-danger mt-2">

                        </div>
                    </label>
                </div>
            </div>
            <div class="rounded bg-white px-4 py-45 mb-4">
                <div class="d-flex align-items-center mb-4">
                    <h4 class="flex-shrink-0 text-black-opacity-85 pe-3 mb-0">發票</h4>
                    <div class="border-top border-black-opacity-15 flex-fill"></div>
                </div>
                <div>
                    <select class="form-select border-black-opacity-25 px-3 py-25" data-type="number" tabindex="5"
                        data-field="invoiceTypes" value="{invoiceTypes}" swim-for="universalInvoiceTypes"
                        onchange="controller.showTripleInvoiceDetail">
                        <option value="{value}">{label}</option>
                    </select>
                    <div class="d-none triple-invoice-detail">
                        <div class="d-md-flex justify-content-between mt-4">
                            <label class="flex-fill w-100">
                                <div class="mb-2">公司抬頭</div>
                                <input
                                    class="form-control bg-white text-black-opacity-85 border-black-opacity-25 px-3 py-25"
                                    data-field="compnay-name" type="text" value="" placeholder="請輸入公司抬頭" tabindex="6">
                                <div class="validation text-danger mt-2">

                                </div>
                            </label>
                            <label class="flex-fill w-100 ps-md-4 mt-4 mt-md-0">
                                <div class="mb-2">公司統編</div>
                                <input
                                    class="form-control bg-white text-black-opacity-85 border-black-opacity-25 px-3 py-25"
                                    data-field="compnay-no" type="text" value="" placeholder="請輸入公司統編" tabindex="7">
                                <div class="validation text-danger mt-2">

                                </div>
                            </label>
                        </div>
                        <div class="mt-4">
                            <div class="mb-2">地址</div>
                            <div class="d-md-flex">
                                <div class="d-flex flex-shrink-0">
                                    <select class="form-select w-100 border-black-opacity-25 py-25" tabindex="8">
                                        <option value="1" selected>台北市</option>
                                        <option value="2">新北市</option>
                                    </select>
                                    <select class="form-select w-100 border-black-opacity-25 ms-3 py-25" tabindex="9">
                                        <option value="1" selected>板橋區</option>
                                        <option value="2">樹林區</option>
                                    </select>
                                </div>
                                <input
                                    class="form-control bg-white text-black-opacity-85 border-black-opacity-25 mt-3 mt-md-0 ms-md-3 px-3 py-25 flex-fill"
                                    data-field="compnay-address" type="text" value="" placeholder="請輸入地址" tabindex="10">
                            </div>
                            <div class="validation text-danger mt-2">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="text-center mt-3 pb-6">
                <a class="btn btn-lg btn-primary rounded-pill d-inline-flex align-items-center px-4 py-2"
                    onclick="controller.checkout">
                    確定訂閱 <img src="/assets/images/right-arrow-s.svg" alt="right-arrow" class="ps-1">
                </a>
            </div>
        </div>
    </div>
</div>
