<div class="forget-password">
    <div class="px-0 px-sm-5 px-md-2 px-lg-5">
        <h2 class="text-center mb-5">忘記密碼</h2>
        <div class="form {isFormVisibility}">
            <label class="d-block mb-4">
                <div class="mb-2">請輸入信箱</div>
                <input onkeyup="controller.handleInputTypeEnter" class="form-control" data-field="email" type="text"
                    value="" placeholder="請輸入註冊信箱" tabindex="1"></input>
                <div class="validation text-danger mt-2">

                </div>
            </label>

            <div class="text-center">
                <button class="btn-send btn btn-md btn-primary rounded-pill px-4" tabindex="3"
                    onclick="controller.resetPassword">重設密碼</button>

            </div>
        </div>
        <div class="text-center {isSendMailVisible}">
            <div class="">重設密碼信已送出！請點擊信件中的連結重新設定密碼。</div>
            <a class="btn-send btn btn-md btn-primary rounded-pill px-4 mt-4" tabindex="3" href="/">回首頁</a>
        </div>
    </div>
</div>
