<div class="how">
    <div class="container mt-6">
        <div class="row">
            <div class="col-4">
                <img class="d-block" src="/assets/images/how.svg" />
            </div>
            <div class="col-8">
                <div class="">
                    <div onclick="controller.toggleHowToStart" class="title h3 mb-2" role="button">如何開始使用 Itemhub
                    </div>
                    <hr class="border-white opacity-100" />
                    <div class="content {expandedHowToStartVisible}">
                        <div>
                            <div class="text-green h4 mb-3">Step 1 - 新增裝置</div>
                            <div class="mb-45">
                                <div>
                                    至「裝置」頁新增裝置，輸入裝置名稱，選擇裝置類型後選擇要使用的 PIN 及 PIN 對應的功能，如: D3 為開關 D7 為感應器。
                                </div>
                                <div class="">PS:目前僅提供3種類型裝置，後續會再新增其他裝置類型。</div>
                                <img src="#" />
                            </div>
                        </div>
                        <div>
                            <div class="text-green h4 mb-3">Step 2 - 下載程式碼並燒錄至裝置</div>
                            <div class="mb-45">
                                <div class="fw-bold">2-1 下載程式碼</div>
                                <div>
                                    至裝置列表頁或明細頁可下載程式碼，系統會自動產生裝置對應的程式碼。
                                </div>
                                <img src="#" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-2 將程式碼燒錄至裝置</div>
                                <div>
                                    完成下載程式碼後，開啟 xxx 檔案，其中 xxx 請改成你所使用的 wifi 帳號，xxx 請改成 wifi 密碼，完成後存檔並將所有檔案燒錄至裝置內。
                                </div>
                                <img src="#" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">2-3 確認裝置的連線狀態</div>
                                <div>
                                    完成程式碼的燒錄後，在裝置列表/明細頁即可看到裝置的狀態會切換成上線，即代表成功連線。
                                </div>
                                <img src="#" />
                            </div>
                        </div>
                        <div class="mb-45">
                            <div class="text-green h4 mb-3">Step 3 - 查看並設定觸發條件</div>
                            <div class="mb-45">
                                <div class="fw-bold">3-1 - 查看並設定觸發條件</div>
                                <div>
                                    裝置成功連線後，可於裝置列表頁或明細頁切換裝置開關或查看感應器回傳的資料，即時的操控裝置與查看裝置資料。
                                </div>
                                <img src="#" />
                            </div>
                            <div class="mb-45">
                                <div class="fw-bold">3-2 - 設定自動化觸發條件</div>
                                <div>
                                    於觸發頁填入觸發的名稱、觸發的事件條件與操作目標設定<br />
                                    範例為：<br />
                                    1. 濕度大於等於 65 執行開啟除濕機<br />
                                    2. 濕度小於 65 執行關閉除濕機
                                </div>
                                <img src="#" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div onclick="controller.toggleHowToBindSmartHome" class="title h3 mb-2 mt-5">如何用 Itemhub 串接 Google
                        Smart Home</div>
                    <hr class="border-white opacity-100 bg-opacity-0" />
                    <div class="content  {expandedHowToBindGoogleSmartHomeVisible}">
                        <div class="text-green h4">Step 1 - 新增裝置</div>
                        <div>
                            至「裝置」頁新增裝置，輸入裝置名稱，選擇裝置類型後選擇要使用的 PIN 及 PIN 對應的功能，如: D3 為開關 D7 為感應器。
                            PS:目前僅提供3種類型裝置，後續會再新增其他裝置類型。
                        </div>
                        <img src="#" />
                        <div class="text-green h4">Step 2 - 下載程式碼並燒錄至裝置</div>
                        <div>
                            2-1 下載程式碼
                            至裝置列表頁或明細頁可下載程式碼，系統會自動產生裝置對應的程式碼。
                        </div>
                        <img src="#" />
                        <div>
                            2-2 將程式碼燒錄至裝置
                            完成下載程式碼後，開啟 xxx 檔案，其中 xxx 請改成你所使用的 wifi 帳號，xxx 請改成 wifi 密碼，完成後存檔並將所有檔案燒錄至裝置內。
                        </div>
                        <img src="#" />
                        <div>
                            2-3 確認裝置的連線狀態
                            完成程式碼的燒錄後，在裝置列表/明細頁即可看到裝置的狀態會切換成上線，即代表成功連線。
                        </div>
                        <img src="#" />
                        <div class="text-green h4">Step 3 - 查看並設定觸發條件</div>
                        <div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
