<div class="main">
    <!-- testing -->
    <link href="/css/main.css" rel="stylesheet">
    <div class="child-router">
        <div class="px-3 px-md-0 bg-dark-blue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 mt-5 mt-lg-0 px-0">
                        <h1 class="slogan">
                            <img src="/assets/images/logo-wording.svg" /> <br />
                            打造專屬的 IoT 物聯網
                        </h1>
                        <div class="mt-3">
                            串聯你的裝置就是如此輕鬆簡單，讓你專注於硬體與應用
                        </div>
                        <div class="mt-5">
                            <component-check-in></component-check-in>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 justify-content-center d-flex mt-4 mt-lg-0">
                        <img src="/assets/images/kv.jpeg" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
        <component-feature></component-feature>
        <component-how-to-use></component-how-to-use>
        <component-pricing-plan></component-pricing-plan>
        <div class="bottom-check-in">
            <div class="content text-center mx-auto px-3 px-md-0">
                <component-check-in></component-check-in>
            </div>
        </div>
    </div>
</div>
