<div class="reset-password">
    <div class="px-0 px-sm-5 px-md-2 px-lg-5">
        <h2 class="text-center mb-5">重設密碼</h2>
        <div class="form">
            <label class="d-block mb-4">
                <div class="mb-2">請輸入密碼</div>
                <input class="form-control password" data-field="password" type="password" value=""
                    onkeyup="controller.validatePassword,controller.checkPasswordValid" placeholder="請輸入 12 碼以上的英數"
                    tabindex="1"></input>
                <div class="col-12 invalid-message text-danger">{passwordInvalidMessage}</div>
            </label>
            <label class="d-block mb-4">
                <div class="mb-2">請再次輸入密碼</div>
                <input class="form-control confirm-password" data-field="confirm-password" type="password" value=""
                    onkeyup="controller.validateConfirmPassword,controller.checkPasswordValid"
                    placeholder="請輸入 12 碼以上的英數" tabindex="1"></input>
                <div class="col-12 invalid-message text-danger">{confirmPasswordInvalidMessage}</div>
            </label>

            <div class="text-center">
                <button class="btn-reset btn btn-md btn-primary rounded-pill px-4" tabindex="3"
                    onclick="controller.resetPassword" disabled>重設密碼</button>

            </div>
        </div>
    </div>
</div>
