<div class="sign-up-finish">
    <div>
        <h2 class="text-center mb-5">註冊成功</h2>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <img src="/assets/images/sign-up-finish.svg" />
    </div>

    <div class="mt-4 text-center">
        恭喜您成功註冊 Itemhub！<br />
        馬上開始打造個人化的互聯網吧。
    </div>

    <div class="text-center mt-5">
        <a href="{DASHBOARD_URL}" not-in-app
            class="btn btn-md btn-primary ms-3 rounded-pill px-4 text-nowrap py-2">開始使用</a>
    </div>
</div>
