<div class="sign-in">
    <div class="px-0 px-sm-5 px-md-2 px-lg-5">
        <h2 class="text-center mb-5">登入</h2>
        <div class="form">
            <label class="d-block mb-4">
                <div class="mb-2">信箱</div>
                <input onkeyup="controller.handleInputTypeEnter" class="form-control" data-field="email" type="text"
                    value="" placeholder="請輸入信箱" tabindex="1"></input>
                <div class="validation text-danger mt-2">

                </div>
            </label>

            <label class="d-block mb-5">
                <div class="mb-2 d-flex justify-content-between">
                    <div>密碼</div>
                    <a href="/auth/forget-password/" tabindex="7">忘記密碼</a>
                </div>
                <input onkeyup="controller.handleInputTypeEnter" class="form-control" tabindex="2" data-field="password"
                    type="password" value="" placeholder="請輸入密碼"></input>
                <div class="validation text-danger mt-2">

                </div>
            </label>

            <div class="text-center">
                <button class="btn-sign-in btn btn-md btn-primary rounded-pill px-4" tabindex="3"
                    onclick="controller.signIn">登入</button>
            </div>

            <div class="text-center mt-3">
                <a href="/auth/verify-email/" tabindex="8">註冊帳號</a>
            </div>

            <div class="d-flex align-items-center mt-5 mb-4">
                <hr class="flex-grow-1">
                </hr>
                <div class="px-3 h4 mb-0 fw-bold">使用社群帳號登入</div>
                <hr class="flex-grow-1">
                </hr>
            </div>

            <div class="d-flex flex-row font-weight-bold auth-provider justify-content-center">

                <button onclick="controller.signInWithLine" tabindex="6"
                    class="btn btn-md btn-primary rounded-circle d-flex align-items-center justify-content-center mx-25 btn-line">
                    <img src="/assets/images/line.svg" alt="line icon" />
                </button>

                <button onclick="controller.signInWithGoogle" tabindex="5"
                    class="btn btn-md btn-primary rounded-circle d-flex align-items-center justify-content-center mx-25">
                    <img src="/assets/images/google.svg" alt="google icon" />
                </button>
            </div>
        </div>
    </div>
</div>
