<div class="sign-in">
    <h1>登入</h1>
    <div class="child-router form">
        <label>
            請輸入 EMAIL
            <input data-field="email" type="text" value=""></input>
        </label>
        <br />
        <label>
            請輸入密碼
            <input data-field="password" type="password" value=""></input>
        </label>
        <button onclick="controller.signIn">登入</button>
        或
        <button>使用 FACEBOOK 登入</button>
        <button>使用 LINE 登入</button>
        <button>使用 GOOGLE 登入</button>
    </div>
</div>
