<div class="two-factor-auth">
    <div class="px-0 px-sm-5 px-md-4 px-lg-5">
        <h2 class="text-center mb-5">兩步驟驗證</h2>
        <div class="txt-white opacity-85 text-center mb-1 text-center {isSentVisible}">
            請輸入我們傳送到 {email} 的驗證碼
        </div>
        <div class="text-center">
            <button onclick="controller.sendTwoFactorAuthMail"
                class="btn-send btn btn-primary rounded-pill px-4 text-nowrap">{sendLabel}</button>
        </div>

        <div class="mt-4 {isSentVisible}">
            <div class="text-white opacity-85 mb-2">驗證碼</div>
            <div>
                <input class="form-control code" type="text" placeholder="請輸入驗證碼" />
            </div>
            <div class="text-center mt-45">
                <button onclick="controller.exchangeDashboardToken"
                    class="btn-primary rounded-pill px-4 text-nowrap py-25 btn-lg">確認</button>
            </div>
        </div>
    </div>
</div>
