{   "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "require": "readonly",
        "process": "readonly",
        "$": "readonly",
        "__dirname": "readonly"
    },
    "root": true,
    "rules": {
        "indent": [4],
        "semi": [
            "error",
            "always"
        ],
        "no-var": "error",
        "prefer-const": "error",
        "@typescript-eslint/no-empty-function": ["off"],
        "@typescript-eslint/no-explicit-any": ["off"]
    },
    "env": {
        "es6": false,
        "browser": true,
        "commonjs": true,
        "node": false,
        "jquery": true
    }
}
