{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module", // Allows for the use of imports
        "ecmaFeatures": {
            "jsx": true // Allows for the parsing of JSX
        }
    },
    "env": {
        "es6": false,
        "browser": true,
        "commonjs": true,
        "node": false,
        "jquery": true
    },
    "plugins": ["@typescript-eslint", "prettier", "react", "react-hooks"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React which u install to use.
        }
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "require": "readonly",
        "process": "readonly",
        "$": "readonly",
        "__dirname": "readonly"
    },
    "rules": {
        "indent": ["off"], // When using prettier, you'd better disable eslint's indent rule. They will conflict sometimes.
        "semi": ["error", "always"],
        "no-var": "error",
        "prefer-const": "error",
        "react/react-in-jsx-scope": 0, // Can use JSX without import React
        "@typescript-eslint/no-empty-function": ["off"],
        "@typescript-eslint/no-explicit-any": ["off"]
    }
}
