$header-height: 64px;
$logo-block-y-padding: 2.125rem;
$desktop-header-width: 285px;
$logo-width: 236px;
$text-block-width: 225px;
$desktop-header-close-width: 80px;

.header {
    position: relative;
    transition: width 0.3s ease-in-out;
    min-height: 100vh;
    background-color: $grey-800;
    width: $desktop-header-width;

    .hamburger {
        width: 2.5em;
        margin-top: -6px;

        > div {
            border: none;
            height: 2.5px;
            width: 24px;
            margin-top: 6px;
            transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
        }
    }

    .logo-block {
        height: $header-height;
    }

    .logo {
        width: $logo-width;
        transition: width 0.3s ease-in-out;
    }

    .text-block {
        width: $text-block-width;
        transition: width 0.3s ease-in-out;
    }

    &.close {
        width: $desktop-header-close-width;

        .text-block {
            width: 0;
        }

        .logo {
            width: 0;
        }

        .hamburger {
            :nth-child(1) {
                transform: translateY(8.75px) rotate(45deg);
            }
            :nth-child(2) {
                opacity: 0;
            }
            :nth-child(3) {
                transform: translateY(-8.75px) rotate(-45deg);
            }
        }
    }

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        z-index: $nav-z-index;

        .logo-block {
            position: fixed;
            width: 100%;
            background: $grey-800;
            z-index: $nav-z-index;
        }

        .text-block {
            width: $text-block-width;
        }

        .menu-block {
            background: $grey-800;
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
            position: relative;
            top: $header-height;
            height: 100vh;
            width: $logo-width;
            z-index: $nav-z-index;
        }

        &.close {
            .logo {
                width: $logo-width;
            }

            .menu-block {
                transform: translateX(-$logo-width);
            }
        }
    }
}
