$header-height: 50px;
$logo-height: 92px;
$user-height: 94px;
$logo-block-y-padding: 2.125rem;

.header {
    position: relative;

    &.open {
        .head-nav {
            width: $nav-open-w;
            transition: 0.3s ease-in-out;
            transform: translateX(0);
            overflow: hidden;
            z-index: $nav-z-index;
        }

        .text-block {
            max-width: none;
            max-height: none;
            visibility: visible;
            overflow: hidden;
        }

        .logo-block,
        .item-block,
        .user-block {
            width: $nav-open-w;
        }

        .logo-block {
            justify-content: space-between;
            padding: $logo-block-y-padding 1.75rem;
        }

        .item-block {
            .item {
                justify-content: flex-start;
                .text-block {
                    padding-left: 0.75rem;
                }
            }
        }

        .user-block {
            justify-content: space-between;
            padding: 0 1rem;
        }

        .hamburger-open {
            display: none;
        }

        .hamburger-close {
            display: block;
        }
    }

    .head-nav {
        width: 80px;
        height: 100vh;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
        transform: translateX(0);
        overflow: hidden;
        z-index: $nav-z-index;
        position: relative;
    }

    .item-block {
        height: calc(100vh - #{$logo-height} - #{$user-height});
        padding: 0 1rem;
        overflow: scroll;

        .item {
            justify-content: center;
        }

        .selected {
            background: $primary-800;
        }
    }

    .logo-block {
        justify-content: center;
        padding: 2.125rem 1rem;
    }

    .logo {
        height: 25px;
        object-fit: cover;

        .logo-text {
            height: 20px;
        }
    }

    .user-block {
        justify-content: center;
    }

    .text-block {
        max-width: 0;
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
    }

    .hamburger-open {
        display: block;
    }

    .hamburger-close {
        display: none;
    }

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: $mobile-header-z-index;

        .top-nav {
            z-index: $mobile-header-z-index;
        }

        .head-nav {
            width: 0;
            position: absolute;
        }

        .menu {
            position: absolute;
            top: 0;
        }

        &.open {
            .head-nav {
                width: $nav-open-w;
            }

            .hamburger-open,
            .hamburger-close {
                display: none;
            }

            .space {
                width: 100vw;
                height: 100vh;
                top: 0;
                left: 0;
                z-index: $nav-space-z-index;
            }
        }
    }
}
