<div class="bg-darkest-blue">
    <link href="/components/feature/feature.css" rel="stylesheet">
    <div class="feature container overflow-hidden">
        <div class="text-lg-end mb-5 mb-lg-0">
            <div class="d-inline-block text-lg-center">
                <img class="d-block img-title-feature" alt="img-title-feature"
                    src="/assets/images/img-title-feature.svg" />
                <div class="d-lg-flex d-xl-block justify-content-end">
                    <h4 class="d-inline-block fw-normal text-lg-start text-white mt-4">
                        連接並設定裝置後
                        <br />
                        即可使用電腦/手機來操控各項裝置
                    </h4>
                </div>
            </div>
        </div>
        <div class="position-relative feature-item">
            <ul class="list-unstyled d-sm-flex flex-wrap col-lg-9 mt-lg-n4">
                <li class="bg-black-opacity25 col-12 col-lg-5 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-connect.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        輕鬆的連接並操控各項裝置
                    </h4>
                    <div class="text-white">
                        使用我們提供的程式碼並燒錄至裝置內，即可於 Web 介面上設定裝置的操作邏輯，讓你輕鬆的設定。
                    </div>
                </li>
                <li class="bg-black-opacity25 col-12 col-lg-5 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-secure.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        安全性高的 HTTPS API
                    </h4>
                    <div class="text-white">
                        使用具安全性的 HTTPS API 來連接並操作裝置，保障你的資料與安全性。
                    </div>
                </li>
                <li class="bg-black-opacity25 col-12 col-lg-5 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-customize.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        客製化的情境操作
                    </h4>
                    <div class="text-white">
                        透過 Web 介面彈性設定各種裝置的情境操作。
                    </div>
                </li>
                <li class="bg-black-opacity25 col-12 col-lg-5 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-notify.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        多元化的通知方式
                    </h4>
                    <div class="text-white">
                        裝置的通知方式可使用 Email、LINE、簡訊、Message，讓你可透過不同管道接收通知。
                    </div>
                </li>
            </ul>
            <div class="d-none d-lg-block position-absolute col-lg-3 bg-feature-img">
                <img src="/assets/images/img-feature-circle.svg" alt="img-feature-circle">
            </div>
        </div>
    </div>
</div>
