<div class="bg-grey-800">
    <link href="/components/feature/feature.css" rel="stylesheet">
    <div class="feature container overflow-hidden">
        <div class="text-lg-end mb-5 mb-lg-0">
            <div class="d-inline-block text-lg-center">
                <img class="d-block img-title-feature" alt="img-title-feature"
                    src="/assets/images/img-title-feature.svg" />
                <div class="d-lg-flex d-xl-block justify-content-end">
                    <h4 class="d-inline-block fw-normal text-lg-start text-white mt-4">
                        連接並設定裝置後
                        <br />
                        即可使用電腦/手機來操控各項裝置
                    </h4>
                </div>
            </div>
        </div>
        <div class="position-relative feature-item mt-5">
            <ul class="list-unstyled d-sm-flex flex-wrap col-lg-12 mt-lg-n4">
                <li class="bg-black-opacity-25 col-12 col-lg-3 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-connect.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        輕鬆的連接並操控各項裝置
                    </h4>
                    <div>
                        透過 Web 介面設定裝置與 PIN 的功能後，將我們提供的程式碼打包下載並燒錄至裝置內，即可讓你輕鬆連接並設定裝置。
                    </div>
                </li>
                <li class="bg-black-opacity-25 col-12 col-lg-3 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-secure.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        使用 HTTPS API
                    </h4>
                    <div>
                        使用 HTTP 通訊並使用 SSL 進行加密，藉此建立安全的連線，保障你的資料與安全性。
                    </div>
                </li>
                <li class="bg-black-opacity-25 col-12 col-lg-3 text-center py-5 px-4 me-4 mb-4 rounded">
                    <div class="d-inline-block position-relative mb-3 py-3">
                        <img class="position-absolute icon-connect icon" src="/assets/images/icon-customize.svg" />
                        <div class="icon-bottom-circle rounded-circle bg-blue2green"></div>
                    </div>
                    <h4 class="text-light-blue">
                        簡單的操控並運用裝置
                    </h4>
                    <div>
                        透過 Web 介面可操控裝置開關或使用邏輯，較進階的用法只需撰寫少量的程式，即可做各式運用。
                    </div>
                </li>
            </ul>
            <div class="d-none d-lg-block position-absolute col-lg-3 bg-feature-img">
                <img src="/assets/images/img-feature-circle.svg" alt="img-feature-circle">
            </div>
        </div>
    </div>
</div>
