@import '../../css/overwrite.scss';

.devices {
    .filter {
        max-width: 480px;
        @include media-breakpoint-down(md) {
            max-width: none;
        }
        button {
            margin-left: -2px;
        }
    }

    .devices-list {
        > .row:hover {
            background: rgba($primary, 0.04);
        }
    }
}
