.devices {
    $status-dot-size: 6px;
    .tag {
        width: 62px;
    }
    .dot {
        width: $status-dot-size;
        height: $status-dot-size;
    }
    .devices-list {
        > .row:hover {
            background: rgba($primary, 0.04);
        }
    }
}
