@import '../../css/overwrite.scss';
@import 'bootstrap/scss/_mixins.scss';

$icon-bottom-circle-wh: 88px;
$img-title-feature-mobile-w: 268px;
$feature-block-padding-top: 220px;
$feature-block-padding-bottom: 140px;

.feature {
    padding-top: $feature-block-padding-top;
    padding-bottom: $feature-block-padding-bottom;
    .icon-bottom-circle {
        width: $icon-bottom-circle-wh;
        height: $icon-bottom-circle-wh;
    }
    .icon {
        top: -1rem;
        left: -1rem;
    }
    .bg-feature-img {
        bottom: -5%;
        right: -31%;
    }
    .feature-item {
        // margin-top: -50px;
    }
    @include media-breakpoint-down(md) {
        padding-top: calc(#{$feature-block-padding-top} / 2);
        padding-bottom: calc(#{$feature-block-padding-bottom} / 2);

        .img-title-feature {
            width: $img-title-feature-mobile-w;
        }
    }
}
