<div class="cooperation">
    <link href="/css/cooperation.css" rel="stylesheet">
    <h1>Cooperation</h1>
    <div class="form">
        <label class="d-block">
            Name:
            <input data-field="name" type="text" value="{name}" />
        </label>
        <label class="d-block">
            Email:
            <input data-field="email" type="text" value="{email}" />
        </label>

        <textarea data-field="message" class="d-block"></textarea>

        <button onclick="controller.sendGuestMessage">
            Send
        </button>
    </div>
</div>
