<div class="main">
    <link href="/css/main.css" rel="stylesheet">
    <div class="child-router">
        <div class="bg-dark-blue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 mt-5 mt-lg-0 px-0">
                        <h1 class="slogan">
                            在 Item Hub 上 <br />
                            打造專屬的 IoT 物聯網
                        </h1>
                        <div class="mt-3">
                            串聯你的裝置與感應器就是這麼輕鬆簡單 <br />
                            讓你專注在智慧裝置的運用，從今天開始你的智慧生活
                        </div>
                        <component-check-in></component-check-in>
                    </div>
                    <div class="col-12 col-lg-6 justify-content-center d-flex mt-4 mt-lg-0">
                        <img src="/assets/images/kv.png" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
        <component-feature></component-feature>
        <component-how-to-use></component-how-to-use>
        <component-pricing-plan bind-number-of-promoted-user="numberOfPromotedUser"></component-pricing-plan>
        <div class="bottom-check-in">
            <div class="content text-center mx-auto">
                <h2>收取第一手通知</h2>
                <div class="mb-4">
                    相關功能尚待開發中，登記 EMAIL 即可獲取第一手消息 <br />
                    前 300 名登記者享終身免費升級進階方案
                </div>
                <component-check-in></component-check-in>
            </div>
        </div>
    </div>
</div>
