<div class="main">
    <div class="child-router">
        <div class="bg-dark-blue">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 col-xl-5 mt-5 mt-lg-0">
                        <h1 class="slogan">
                            在 Item Hub 上 <br />
                            打造個人化的物聯網
                        </h1>
                        <div class="mt-3">
                            快速連接你的裝置或感應器，簡單的設定並操控各種裝置 <br />
                            讓你專注在智慧裝置的運用，開始你的智慧生活
                        </div>
                        <div class="d-flex justify-content-center justify-content-sm-start">
                            <a href="/sign-up/send-verify-email/"
                                class="btn btn-lg bg-white d-flex align-items-center rounded-pill text-dark-blue px-4 py-2 mt-4">
                                免費試用
                                <img src="/assets/images/right-arrow.svg" class="ms-2" />
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7 justify-content-center d-flex mt-4 mt-lg-0">
                        <img src="/assets/images/kv.png" class="w-100" />
                    </div>
                </div>
            </div>
        </div>
        <component-feature></component-feature>
        <div class="how-to-use">
            <div class="container">
                <h2>How</h2>
                <ul>
                    <li>網站上登入並設定裝置並產生專屬的程式碼</li>
                    <li>將程式碼燒錄至裝置內</li>
                    <li>於網站上設定裝置的屬性或使用邏輯後，即可直接操控裝置或收集裝置資訊</li>
                </ul>
            </div>
        </div>

        <div class="pricing-plan">
            <div class="container">
                <h2>方案</h2>
                <component-pricing-plan bind-number-of-promoted-user="numberOfPromotedUser"></component-pricing-plan>
            </div>
        </div>

        <div class="cooperation">
            <div class="container">
                <h2>與我們聯繫</h2>
                <component-cooperation bind-name="name" bind-email="email"></component-cooperation>
            </div>
        </div>
    </div>
</div>
