<div class="master">
    <link href="/css/master.css" rel="stylesheet">
    <component-header></component-header>
    <main class="child-router">
        <div class="feats">
            <h1>Features</h1>
        </div>
        <div class="pricing-plan">
            <h1>Pricing Plan</h1>
            <component-pricing-plan></component-pricing-plan>
        </div>

        <div class="cooperation">
            <h1>Cooperation</h1>
            <component-cooperation bind-name="name" bind-email="email"></component-cooperation>
        </div>
    </main>
    <component-footer></component-footer>
</div>
