<div class="send-verify-email">
    <h2>Send Verify Email</h2>
    <div class="form">
        <label class="d-block">
            Email:
            <input data-field="email" type="text" value="" />
        </label>
        <button onclick="controller.sendVerifyEmail">send verify email</button>
        <button onclick="controller.signUpWithFacebook">Sign Up With Facebook</button>
        <button onclick="controller.signUpWithLine">Sign Up With Line</button>
        <button onclick="controller.signUpWithGoogle">Sign Up With Google</button>
    </div>
</div>
