<div class="sign-up">
    <h1>Sign Up</h1>
    <div class="child-router form">
        <label>
            Email:
            <div>{email}</div>
        </label>
        <label>
            Password:
            <input data-field="password" type="password" value=""></input>
        </label>

        <label>
            Confrim Password:
            <input data-field="confirmPassword" type="password" value=""></input>
        </label>

        <button onclick="controller.signUp">Sign Up</button>
    </div>
</div>
