<div class="cooperation">
    <link href="/components/cooperation/cooperation.css" rel="stylesheet">
    <div class="form">
        <label class="d-block">
            姓名:
            <input data-field="name" type="text" value="{name}" />
        </label>
        <label class="d-block">
            Email:
            <input data-field="email" type="text" value="{email}" />
        </label>
        <textarea data-field="message" class="d-block"></textarea>
        <button onclick="controller.sendCooperationMessage">
            發送
        </button>
    </div>
</div>
