<div class="cooperation">
    <link href="/components/cooperation/cooperation.css" rel="stylesheet">
    <div class="form">
        <label class="d-block">

            <input placeholder="姓名" class="form-control" data-field="name" type="text" value="{name}" />
        </label>
        <label class="d-block">
            <input placeholder="Email" class="form-control" data-field="email" type="text" value="{email}" />
        </label>
        <textarea placeholder="留給我們的訊息" data-field="message" class="d-block form-control"></textarea>
        <button class="btn btn-md" onclick="controller.sendCooperationMessage">
            發送
        </button>
    </div>
</div>
