<div class="check-in">
    <link href="/components/check-in/check-in.css" rel="stylesheet">
    <div class="mt-3">
        <div class="form-group position-relative form mb-3">
            <input onkeyup="controller.checkInByKeyUp" data-field="email" type="text" class="form-control"
                placeholder="輸入信箱搶先登記" value="">
            <div class="error-msg"></div>
            <button
                class="btn btn-lg bg-white d-flex align-items-center text-dark-blue mx-auto mt-3 mt-sm-0 hover-bule check-in-btn"
                onclick="controller.checkIn">立即登記</button>
        </div>
    </div>
</div>
