@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
$theme-colors: (
    primary: #161c2e,
);
@import 'bootstrap/scss/bootstrap.scss';

/* Common */
body,
html {
    padding: 0;
    margin: 0;
    font-family: Arial, 'PingFangSC-Regular', 'STHeiti', 'WenQuanYi Zen Hei',
        'Microsoft JhengHei', '微軟正黑體', '儷黑 Pro', 'LiHei Pro', 'DFKai-SB',
        sans-serif;
}
