@import 'overwrite.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'zindex.scss';

/* Common */
body,
html {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang TC',
        'Microsoft JhengHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    @include media-breakpoint-down(lg) {
        font-size: $font-size-base-for-small-screen;
    }
}

.text-sm {
    @include media-breakpoint-down(lg) {
        font-size: $small-font-size-for-small-screen;
    }
}

h1,
.h1 {
    font-size: $h1-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h1-font-size;
    }
}

h2,
.h2 {
    font-size: $h2-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: $h3-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h3-font-size;
    }
}

h4,
.h4 {
    font-size: $h4-font-size-for-small-screen;
    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size;
    }
}

.text-blue {
    color: $blue;
}

.text-dark-blue {
    color: $dark-blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.nav-link,
.link {
    &:focus-visible {
        outline: none;
    }
}
