.dialog {
    .card {
        z-index: 1;
    }

    &::after {
        display: block;
        position: absolute;
        content: '';
        background: rgba(black, 0.5);
        width: 100vw;
        height: 100vh;
    }

    .close-button {
        right: 0;
    }
}
