{
    "extends": [
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "require": "readonly",
        "process": "readonly",
        "$": "readonly",
        "__dirname": "readonly"
    },
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "root": true,
    "rules": {
        "indent": [2, 4],
        "semi": [
            "error",
            "always"
        ],
        "no-var": "error",
        "prefer-const": "error"
    },
    "env": {
        "es6": false,
        "browser": true,
        "commonjs": true,
        "node": false,
        "jquery": true
    }
}