<header>
    <link href="/components/header/header.css" rel="stylesheet">

    <div class="container">
        <div class="d-flex align-items-center">
            <div class="">
                <a href="/" class="logo d-flex p-0 position-relative">
                    <img class="icon" src="/assets/images/logo.svg" />
                    <img class="ms-3" src="/assets/images/logo-wording.svg" />
                </a>
            </div>

            <div class="menu d-none d-lg-flex">
                <a class="d-block ms-5 nav-link" href="/feature/">Feature</a>
                <a class="d-block ms-5 nav-link" href="/how/">How to use</a>
                <a class="d-block ms-5 nav-link" href="/pricing/">Pricing</a>
            </div>

            <div class="user-section d-none d-lg-flex ms-auto">
                <a href="/sign-up/send-verify-email/"
                    class="btn btn-md bg-white text-blue rounded-pill py-2 px-4 text-nowrap">免費試用</a>
                <a href="/sign-in/" class="nav-link btn ms-3">登入</a>
            </div>

            <div class="d-flex d-lg-none ms-auto">
                <div class="hanberger" onclick="controller.switchMenu">
                    <div class="bg-white w-100 rounded-pill"></div>
                    <div class="bg-white w-100 rounded-pill"></div>
                    <div class="bg-white w-100 rounded-pill"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="{expandedVisible} d-lg-none h-100 position-fixed top-0 left-0 w-100 mobile-nav">
        <div>
            <div class="mt-5">
                <div class="pt-5 container">
                    <a class="d-block px-0 nav-link" onclick="controller.collapse" href="/feature/">Feature</a>
                    <a class="d-block px-0 nav-link" onclick="controller.collapse" href="/how/">How to use</a>
                    <a class="d-block px-0 nav-link" onclick="controller.collapse" href="/pricing/">Pricing</a>
                    <hr class="bg-white" />
                    <div class="text-center">
                        <a href="/sign-up/send-verify-email/"
                            class="btn btn-md bg-white text-blue rounded-pill py-2 px-4 text-nowrap">免費試用</a>
                        <a href="/sign-in/" class="nav-link btn mt-3">登入</a>
                    </div>
                    <hr class="bg-white" />
                </div>
            </div>
        </div>
    </div>
</header>
