header {
    width: 100%;
    background: rgb(203, 203, 203);
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .logo,
    .menu,
    .user-section {
        background: rgba(120, 120, 120, 0.3);
        height: 100%;
        padding: 0 20px;
    }

    .menu > * {
        margin: 0 10px;
    }
}
