<header>
    <link href="/components/header/header.css" rel="stylesheet">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <a href="/" class="logo col">
                <img src="/assets/images/logo.svg" />
            </a>
            <div class="menu col d-flex">
                <a class="d-block" href="/cooperation/">Cooperation</a>
                <a class="d-block" href="/pricing/">Pricing</a>
            </div>
            <div class="user-section col">
                <a class="ml-2 {hasSignedInvisibility}" href="/sign-up/send-verify-email/">Sign Up</a>
                <a class="ml-2 {hasSignedInvisibility}" href="/sign-in/">Sign In</a>
                <a class="ml-2 {hasSignedInvisibility}" onclick="controller.signInWithFacebook">Sign In With
                    Facebook</a>
                <a class="ml-2 {hasSignedInvisibility}" onclick="controller.signInWithLine">Sign In With Line</a>
                <a class="ml-2 {hasSignedInvisibility}" onclick="controller.signInWithGoogle">Sign In With Google</a>
                <a class="ml-2 {hasSignedVisibility}" href="/me/">Me</a>
                <a class="ml-2 {hasSignedVisibility}" href="/sign-out/">Sign Out</a>
            </div>
        </div>
    </div>
</header>
