$item-title-w: 120px;

.device {
    .item {
        margin-bottom: 2px;
    }

    .item-title {
        width: $item-title-w;
        color: rgba(black, 0.45);
        background: rgba(black, 0.05);
    }
}
