footer {
    width: 100%;
    background: rgb(203, 203, 203);
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    .copy-right,
    .cs {
        padding: 0 20px;
        background: rgba(120, 120, 120, 0.3);
        height: 100%;
        display: flex;
        align-items: center;
    }
}
