<footer class="footer bg-deep-dark-blue">
    <link href="/components/footer/footer.css" rel="stylesheet">
    <div class="container py-4">
        <div class="d-block d-lg-flex align-items-center">
            <div class="d-flex ms-n3 ms-lg-0 mb-3 mb-lg-0 align-items-center">
                <a href="/about/" class="nav-link">關於我們</a>
                <a href="/privacy-policy/" class="ms-5 nav-link">隱私權政策</a>
            </div>
            <div class="text-white opacity-75 ms-auto">
                Copyright © 2021 itemhub Inc. All rights reserved.
            </div>
        </div>
    </div>
</footer>
