{
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "es6": false,
        "browser": true,
        "commonjs": true,
        "node": false,
        "jquery": true
    },
    "extends": [
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly",
        "require": "readonly",
        "process": "readonly",
        "$": "readonly",
        "__dirname": "readonly"
    },
    "rules": {
        "indent": ["error", 4],
        "semi": [
            "error",
            "always"
        ],
        "no-var": "error",
        "prefer-const": "error"
    }
}
