<div class="pricing-plan position-relative pb-5 overflow-hidden">
    <link href="/components/pricing-plan/pricing-plan.css" rel="stylesheet">
    <img src="/assets/images/particle.svg" class="bg-particle bottom-0 w-100" />

    <div class="container position-relative">
        <div class="pricing-title d-flex justify-content-center">
            <img src="/assets/images/pricing.svg" />
        </div>
    </div>
    <div class="d-flex justify-content-center position-relative">
        <div class="promote mt-5 p-4">
            <component-check-in></component-check-in>
        </div>
    </div>

    <div class="pricing-plan-container container my-6 d-block d-md-flex position-relative">
        <div class="pricing-plan-card overflow-hidden mt-4 mt-md-0">
            <h4 class="title text-white bg-blue mb-0 py-25 text-center">免費方案</h4>
            <div class="content py-45">
                <div class="text-promoted text-center">{ 裝置限制 }</div>
                <div class="text-center">2 個裝置</div>
                <div class="text-promoted text-center mt-3">{ 送 Request 頻率 }</div>
                <div class="text-center">
                    30 秒/次
                </div>
                <div class="text-promoted text-center mt-3">{ 資料儲存時間 }</div>
                <div class="text-center">
                    30 分鐘
                </div>
                <div class="text-promoted text-center mt-3">{ 收費 }</div>
                <div class="text-center">
                    Free
                </div>
            </div>
        </div>

        <div class="pricing-plan-card promoting mt-4 mt-md-0 overflow-hidden">

            <div
                class="title text-white bg-blue mb-0 py-25 text-center position-relative d-flex justify-content-center align-items-center">
                <div class="position-absolute popular-label bg-purple px-3 rounded-3">推薦</div>
                <h4 class="mb-0">基礎方案</h4>
            </div>
            <div class="content py-45">
                <div class="text-promoted text-center text-blue">{ 裝置限制 }</div>
                <div class="text-center text-black opacity-65">5 個裝置</div>
                <div class="text-promoted text-center text-blue mt-3">{ 送 Request 頻率 }</div>
                <div class="text-center text-black opacity-65">
                    15 秒/次
                </div>
                <div class="text-promoted text-center text-blue mt-3">{ 資料儲存時間 }</div>
                <div class="text-center text-black opacity-65">
                    6 小時
                </div>
                <div class="text-promoted text-center text-blue mt-3">{ 收費 }</div>
                <div class="text-center text-black opacity-65">
                    NTD $49
                </div>
            </div>
        </div>

        <div class="pricing-plan-card overflow-hidden mt-4 mt-md-0">
            <h4 class="title text-white bg-blue mb-0 py-25 text-center">進階方案</h4>
            <div class="content py-45">
                <div class="text-promoted text-center">{ 裝置限制 }</div>
                <div class="text-center">20 個裝置</div>
                <div class="text-promoted text-center mt-3">{ 送 Request 頻率 }</div>
                <div class="text-center">
                    3 秒/次
                </div>
                <div class="text-promoted text-center mt-3">{ 資料儲存時間 }</div>
                <div class="text-center">
                    1 天
                </div>
                <div class="text-promoted text-center mt-3">{ 收費 }</div>
                <div class="text-center">
                    NTD $199
                </div>
            </div>
        </div>

        <div class="pricing-plan-card overflow-hidden mt-4 mt-md-0">
            <h4 class="title text-white bg-blue mb-0 py-25 text-center">Growth</h4>
            <div class="content py-45">
                <div class="text-promoted text-center">{ 裝置限制 }</div>
                <div class="text-center">40 個裝置</div>
                <div class="text-promoted text-center mt-3">{ 送 Request 頻率 }</div>
                <div class="text-center">
                    1 秒/次
                </div>
                <div class="text-promoted text-center mt-3">{ 資料儲存時間 }</div>
                <div class="text-center">
                    3 天
                </div>
                <div class="text-promoted text-center mt-3">{ 收費 }</div>
                <div class="text-center">
                    NTD $999
                </div>
            </div>
        </div>

        <div class="pricing-plan-card overflow-hidden mt-4 mt-md-0">
            <h4 class="title text-white bg-blue mb-0 py-25 text-center">Small Business</h4>
            <div class="content py-45">
                <div class="text-promoted text-center">{ 裝置限制 }</div>
                <div class="text-center">150 個裝置</div>
                <div class="text-promoted text-center mt-3">{ 送 Request 頻率 }</div>
                <div class="text-center">
                    1 秒/次
                </div>
                <div class="text-promoted text-center mt-3">{ 資料儲存時間 }</div>
                <div class="text-center">
                    7 天
                </div>
                <div class="text-promoted text-center mt-3">{ 收費 }</div>
                <div class="text-center">
                    NTD $4,999
                </div>
            </div>

        </div>
    </div>
</div>

<div class="enterprice-plan d-flex justify-content-center py-5 position-relative">
    <div class="text-center">
        <h3 class="text-promoted">企業方案</h3>
        <a class="text-white" href="mailto:itemhub.tw@gmail.com">{ 聯絡我們 }</a>
    </div>
</div>
</div>
